
body{
    background-image: url('https://apod.nasa.gov/apod/image/2002/SouthernMoonscapeClaviusTycho1024.jpg');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.jumbotron {
    opacity: 0.5;
}

.time{
    margin: 2%;
}

h3 {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

.container {
    margin-top: 10%;
}

.timer {
    margin-left: 1%;
    padding: 5%;
}

#box-0 {
    border: solid 2px;
    margin-right: 2%;
}

#box-1 {
    border: solid 2px;
    margin-right: 2%;
}

#box-2 {
    border: solid 2px;
    margin-right: 2%;
}

#box-3 {
    border: solid 2px;
    margin-right: 2%;
}

.card {
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 1%;
}

.card-body {
    color: white;
    background-color: black;
}

h4 {
    color: white;
}

h2 {
    text-align: center;
    font-size: 32px;
}